html,body,#root, .rs-container, .rs-sidebar, .rs-sidenav{
  height: 100%;
}

.allHeightWidth {
  height: 100%;
  width: 100%;
}

.h-100{
  height: 100% !important;
}
.w-100{
  width: 100% !important;
}

.v-a-middle{
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide{
  display: none;
}


/* override rsuite css */

.rs-toggle .rs-toggle-inner {
  display: flex;
  align-items: center;
}

.rs-navbar-item {
  display: flex;
  align-items: center;
}

.rs-navbar-item svg , .rs-dropdown-item svg{
  margin-right: 3px;
}


.rs-sidenav-default .rs-sidenav-item {
  display: flex;
  align-items: center;
}

.rs-sidenav-item svg , .rs-sidenav-nav .rs-dropdown .rs-btn > .rs-dropdown-toggle-icon {
  font-size: 16px;
  margin-right: 20px;
  position: absolute;
  left: 20px;
  top: 15px;
  line-height: 1.25;
  height: 16px;
}


@media (max-width: 768px){    
  .hideNav {
    display: none !important;
  }
  .hideSidebar {
    display: block !important;
  }
}

@media (min-width: 769px){
  .hideNav {
    display: block !important;
  }
  .hideSidebar {
    display: none !important;
  }
}

